<div class="form-container">
  <h2>Create a Client</h2>
  <p>Please fill in this form to create a client.</p>
  <hr>

  <form>
    <label for="name"><b>Name</b></label>
    <input type="text" id="name" placeholder="Enter Name" name="name" required>

    <label for="email"><b>Email</b></label>
    <input type="email" id="email" placeholder="Enter Email" name="email" required>

    <label for="address"><b>Address</b></label>
    <input type="text" id="address" placeholder="Enter Address" name="address" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" id="psw" placeholder="Enter Password" name="psw" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" id="psw-repeat" placeholder="Repeat Password" name="psw-repeat" required>
    <hr>
    
    <button type="submit" class="registerbtn">Register</button>
  </form>
</div>