<div class="form-container">
  <h2>Create a Meeting Schedule</h2>
  <hr>

  <form>
    <label for="topic"><b>Meeting Topic</b></label>
    <input type="text" id="topic" placeholder="Enter Meeting Topic" name="topic" required>

    <label for="people"><b>Number of People</b></label>
    <input type="number" id="people" placeholder="Enter number of people" name="people" required>

    <label for="startTime"><b>Start Time</b></label>
    <input type="datetime-local" id="startTime" name="startTime" required>
    
    <button type="submit" class="registerbtn">Schedule Meeting</button>
  </form>
</div>